Package: pengwin-base
Version: 0.1-1
Architecture: all
Essential: yes
Maintainer: Whitewater Foundry, Ltd. Co. <contact@whitewaterfoundry.com>
Installed-Size: 585
Depends: curl, apt-transport-https, whiptail, gnupg, bc, systemd, udev, mesa-libgallium, mesa-va-drivers, vainfo, apt-utils, kmod, procps
Section: utils
Priority: optional
Homepage: https://github.com/WhitewaterFoundry/pengwin-base
Description: Base modifications for Pengwin
